<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frontend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_harry_potter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_harry_potter"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarrayPotterApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.frontend.ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HarrayPotterApp.NoActionBar" />
        <activity
            android:name="com.example.frontend.ui.activity.splashScreen.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HarrayPotterApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>